name: Drizzle DB Push

on:
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install
      - name: Run drizzle push
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: npm run db:push